/*Seção Inicial da página contatos*/
.hero-contato {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent), url('../../images/photos/imagem24.webp');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-top: 5.2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-contato__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Seção sobre meios de contato*/
.contatos {
    background-image: url('../../images/backgrounds/repeating-triangles.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contatos__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contatos-itens {
    display: flex;
}

@media (max-width: 479px) {
    .hero-contato {
        background-position: 12% center;
        padding: 1.5rem;
        height: 50vh;
    }

    .hero-contato__container {
        max-width: 100%;
    }

    .contatos__container {
        max-width: 80%;
        gap: 2rem;
    }

    .contatos-itens {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

/* Mobile médio: 480px até 766px */
@media (min-width: 480px) {
    .hero-contato {
        background-position: 12% center;
        padding: 2rem;
        height: 40vh;
    }

    .contatos__container {
        max-width: 80%;
        gap: 2rem;
    }

    .contatos-itens {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

/* Tablet: 767px até 978px */
@media (min-width: 767px){
    .hero-contato {
        height: 45vh;
        background-position: 10% center;
        padding: 5rem 2rem;
    }

    .contatos__container {
        max-width: 80%;
        gap: 2rem;
    }

    .contatos-itens {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        gap: 1rem;
    }
}

/* Tablet grande ou notebook pequeno: 979px até 1199px */
@media (min-width: 979px){
    .hero-contato {
        width: auto;
        height: 21.875rem;
    }

    .contatos__container {
        max-width: 80%;
        gap: 2rem;
    }

    .contatos-itens {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        gap: 1rem;
    }
}

/* Desktop: 1200px ou mais */
@media (min-width: 1200px){
    .hero-contato {
        height: 65vh;
        background-position: -10 10%;
    }

    .contatos__container {
        width: 80%;
        gap: 2rem;
    }

    .contatos-itens {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        gap: 2rem;
    }

}

/*Ultrawide: 1921px*/
@media (min-width: 1921px){
    .hero-contato {
      height: 80vh;
      background-position: 0 -15%;
    }

    .contatos__container {
        width: 90%;
        gap: 2rem;
    }

    .contatos-itens {
        width: 70%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 1rem;
        gap: 3rem;
    }

}

@media (max-height: 500px) and (orientation: landscape) { 
    .hero-contato {
        background-position: 12% center;
        padding: 2rem;
        height: 70vh;
    }
}