/*Seção Tela Inicial da HomeCare*/
.tela-inicial {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent), url('../../images/photos/image_hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding: 2rem;
  margin-top: 5.2rem;
  display: flex;
}

.tela-inicial__container {
  width: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.tela-inicial__descricao {
  color: var(--cor-texto-secundario);
  font-size: clamp(1.02rem, 3vw, 2.25rem);
  font-weight: 100;
}

/* .tela-inicial__botao {
    max-width: fit-content;
} */

/*Frase Destaque do Site*/
.frase-destaque {
  background-color: var(--cor-primaria);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
}

.frase-destaque__titulo {
  font-style: italic;
}

/*Seção sobre HomeCare Servir*/
.sobre-homecare {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobre-homecare__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sobre-homecare__imagem {
  max-width: 100%;
}

.sobre-homecare__imagem img {
  width: 100%;
}

.sobre-homecare__conteudo {
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/*Resumo Serviços da HomeCare Servir*/


@media (max-width: 479px) {
  .tela-inicial {
    background-position: 70% 20%;
    padding: 1rem;
    height: 55vh;
    align-items: center;
    justify-content: center;
  }
  
  .tela-inicial__container {
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
  }
  
}

/* Mobile médio: 480px até 766px */
@media (min-width: 480px) {
  .tela-inicial {
    height: 40vh;
    background-position: 80% 10%;
    justify-content: center;
  }

  .tela-inicial__container {
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
  }
}

/* Tablet: 767px até 978px */
@media (min-width: 767px) {
  .tela-inicial {
    height: 50vh;
    background-position: 80% 10%;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .sobre-homecare__imagem {
    max-width: 60vw;
  }

  .sobre-homecare__container .botao {
    width: 100%;

  }

}

/* Tablet grande ou notebook pequeno: 979px até 1199px */
@media (min-width: 979px) {
  .tela-inicial {
    width: auto;
    height: 77vh;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
  }

  .tela-inicial__container {
    align-items: flex-start;
    gap: 1.7rem;
  }

  .sobre-homecare__container {
    width: 90%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }

  .sobre-homecare__imagem {
    max-width: 40%;
  }

  .sobre-homecare__conteudo {
    width: 60%;
  }

}

/* Desktop: 1200px ou mais */
@media (min-width: 1200px) {
  /* Ajustes para telas grandes */
  .tela-inicial {
    background-position: 90% -10%;
  }

  .sobre-homecare__imagem {
    max-width: 60%;
  }

  .sobre-homecare__conteudo {
    width: 40%;
  }
}