/*Seção Inicial do site*/
.apresentacao {
  background-color: var(--cor-fundo);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.apresentacao__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/*Seção sobre a história da empresa*/
.sobre-nos {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria);
}

.wave,
.wave-reverse {
    /* position: absolute; */
    position: relative;
    width: 100%;
    left: 0;
}

.wave img {
    width: 100%;
}

.wave-reverse {
    transform: scaleY(-1);
    bottom: -11rem;
}

.sobre-nos__container {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nossa-historia {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.logo-homecare-servir {
    display: none;
    object-fit: cover;
}

.logo-homecare-servir img {
    width: 100%;
}

/*Seção Nossa Causa*/
.nossa-causa {
    position: relative;
    top: 6rem;
    background-color: var(--cor-fundo);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.nossa-causa__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

/*Seção sobre os valores da Empresa*/
.valores-institucionais {
    position: relative;
    background-image: url('../../images/backgrounds/repeating-triangles.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valores-institucionais__container {
    margin: 2rem 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.pilares-empresa {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.pilares-empresa-imagem {
    max-width: 100%;
    height: auto;
}

.pilares-empresa-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 11px 12px 12.5px 4px rgba(0, 0, 0, 0.5);
}

.pilares-empresa-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@media (max-width: 479px){
    .apresentacao {
        margin: 5rem 0;
    }

    .apresentacao__container {
        width: 90%;
        margin-top: 1rem;
        padding: 2rem 0;
    }

    .sobre-nos__container {
        max-width: 90%;
        gap: 2rem;
    }

    .wave {
        top: -1rem;
    }

    .wave-reverse {
        bottom: -1rem;
    }

    .nossa-causa {
        top: 1.2rem;
    }

    .nossa-causa__container {
        width: 90%;
        margin: 2rem 0;
    }
}

/* Mobile médio: 480px até 766px */
@media (min-width: 480px) {
    .apresentacao {
        margin: 5rem 0;
    }

    .apresentacao__container {
        width: 90%;
        margin-top: 1rem;
        padding: 2rem 0;
    }

    .sobre-nos__container {
        max-width: 90%;
    }

    .wave {
        top: -1rem;
    }

    .wave-reverse {
        bottom: -1rem;
    }

    .nossa-causa {
        top: 1.2rem;
    }

    .nossa-causa__container {
        width: 90%;
        margin: 2rem 0;
    }
}

/* Tablet: 767px até 978px */
@media (min-width: 767px){
    .apresentacao {
        margin: 5rem;
    }

    .apresentacao__container {
        width: 80%;
        margin-top: 1rem;
        padding: 2rem 0;
    }

    .sobre-nos__container {
        max-width: 80%;
        flex-direction: row;
        justify-content: space-between;
    }

    .nossa-historia {
        max-width: 60%;
    }

    .wave {
        top: -7.4rem;
    }

    .wave-reverse {
        bottom: -7.4rem;
    }

    .logo-homecare-servir {
        display: block;
        max-width: 30%;
    }

    .wave {
        top: -3rem;
    }

    .wave-reverse {
        bottom: -3rem;
    }

    .nossa-causa {
        top: 3.1rem;
    }

    .valores-institucionais {
        top: 4.063rem;
    }

    .valores-institucionais__container {
        max-width: 80%;
    }

    .pilares-empresa {
        flex-direction: row;
        gap: 2rem;
    }

    .pilares-empresa--inverso {
        flex-direction: row-reverse;
    }

    .pilares-empresa-imagem {
        max-width: 40%;
    }    

    .pilares-empresa-conteudo {
        padding: 1rem;
        gap: 1rem;
    }

}

/* Tablet grande ou notebook pequeno: 979px até 1199px */
@media (min-width: 979px){
    .apresentacao {
        margin: 6.5rem;
    }

    .apresentacao__container {
        max-width: 80%;
        margin-top: 2rem;
        padding: 3rem 0;
    }

    .sobre-nos__container {
        max-width: 75%;
        flex-direction: row;
    }

    .wave {
        top: -2rem;
    }

    .nossa-causa {
        top: 4.1rem;
    }

    .valores-institucionais {
        top: 5rem;
    }
}

/* Desktop: 1200px ou mais */
@media (min-width: 1200px){
    .apresentacao {
      margin: 10rem;  
    }

    .apresentacao__container {
        max-width: 80%;
        margin-top: 5rem 0;
        padding: 5rem 0;
    }

    .apresentacao__container .descricao-primario {
        max-width: 70%;
    }

    .wave {
        top: -4rem;
    }

    .wave-reverse {
        bottom: -4rem;
    }

    .nossa-causa {
        top: 4.3rem;
    }

    .valores-institucionais {
        top: 6rem;
    }

    .valores-institucionais__container {
        gap: 3rem;
    }

    .pilares-empresa-conteudo {
        max-width: 50%;
    }
}

/*Ultrawide: 1921px*/
@media (min-width: 1921px){
    .apresentacao__container {
        max-width: 80%;
        margin: 2rem 0;
        padding: 5rem 0;
    }

    .apresentacao__container .descricao-primario {
        max-width: 40%;
    }

    .wave {
        top: -6rem;
    }

    .wave-reverse {
        bottom: -7rem;
    }

    .nossa-causa {
        top: 8rem;
    }

    .valores-institucionais {
        top: 10.625rem;
    }

    .valores-institucionais__container {
        max-width: 70%;
    }
}

@media (max-height: 500px) and (orientation: landscape) {
    .apresentacao__container {
        max-width: 80%;
    }

    .sobre-nos__container {
    	max-width: 80%;
    }

    .valores-institucionais__container {
        max-width: 80%;
    }
}