/*Seção Inicial do site*/
.apresentacao-servicos {
  background-color: var(--cor-fundo);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.apresentacao-servicos__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Seção sobre a HomeCare Servir e os seus serviços*/
.sobre-servicos {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria);
}

.sobre-servicos__container {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wave,
.wave-reverse {
    position: relative;
    width: 100%;
    left: 0;
}

.wave img {
    width: 100%;
}

.wave-reverse {
    transform: scaleY(-1);
}

.sobre-servicos--imagem {
    display: none;
}

.sobre-servicos--imagem img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sobre-servicos--conteudo {
    display: flex;
    flex-direction: column;
}

/*Seção sobre todos os serviços prestados pela HomeCare*/
.servicos-prestados {
    background-image: url('../../images/backgrounds/black-thread--light.webp');
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.servicos-prestados__container {
    display: grid;
    text-align: center;
    gap: 1rem;
}

.servicos-prestados__container .titulo {
    grid-column: 1/ -1;
}

.servico-card img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.4);
    object-fit: cover;
}

/*Seção sobre benefícios dos serviços*/
.beneficios-servicos {
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.beneficios-servicos__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.beneficios-servicos__container .titulo {
    text-align: center;
}

.beneficios-servicos-imagem {
    display: none;
}

.beneficios-servicos-imagem {
    width: 100%;
    object-fit: cover;
    border-radius: 0.625rem;
    box-shadow: 0 4px 13.6px rgba(0, 0, 0, 0.8);
}

.beneficios-servicos-icones {
    display: flex;
}

/*Seção CTO*/
.cto-servicos {
    background-image: url('../../images/backgrounds/repeating-triangles.png');
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.cto-servicos__container {
    display: flex;
    flex-direction: column;
}

.cto-servicos-botoes {
    display: flex;
}

@media (max-width: 479px) {
    .apresentacao-servicos {
        margin: 5rem 0;
    }

    .apresentacao-servicos__container {
        width: 80%;
        margin-top: 1rem;
    }

    .apresentacao-servicos__container .titulo {
        max-width: 95%;
    }

    .sobre-servicos__container {
        max-width: 80%;
    }

    .servicos-prestados__container {
        max-width: 80%;
    }

    .servico-card img {
        height: 11.25rem;
    }

    .beneficios-servicos__container {
        max-width: 80%;
        gap: 2rem;
    }

    .beneficios-servicos-icones {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .cto-servicos__container {
        max-width: 85%;
        gap: 1rem;
        align-items: center;
    }

    .cto-servicos-botoes {
        flex-direction: column;
        gap: 1rem;
    }
}

/* Mobile médio: 480px até 766px */
@media (min-width: 480px) {
    .apresentacao-servicos {
        margin: 5rem 0;
    }

    .apresentacao-servicos__container {
        width: 80%;
        margin-top: 1rem;
        padding: 2rem 0;
    }

    .sobre-servicos__container {
        max-width: 80%;
    }

    .servicos-prestados__container {
        max-width: 80%;
        grid-template-columns: repeat(auto-fill, 1fr);
        gap: 1rem;
    }

    .servico-card img {
        height: 12.5rem;
    }

    .beneficios-servicos__container {
        max-width: 80%;
        gap: 2rem;
    }

    .beneficios-servicos-icones {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .cto-servicos__container {
        max-width: 80%;
        gap: 1rem;
        align-items: center;
    }

    .cto-servicos__container .titulo-secundario {
        max-width: 95%;
    }

    .cto-servicos-botoes {
        flex-direction: column;
        gap: 1rem;
    }

}

/* Tablet: 767px até 978px */
@media (min-width: 767px){
    .apresentacao-servicos {
        margin: 5rem;
    }

    .apresentacao-servicos__container {
        max-width: 80%;
        margin-top: 1rem;
        padding: 2rem 0;
    }

    .apresentacao-servicos__container .titulo {
        width: 75%;
    }

    .sobre-servicos__container {
        max-width: 80%;
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
    }

    .sobre-servicos--imagem {
        display: block;
        max-width: 50%;
    }

    .sobre-servicos--conteudo {
        max-width: 50%;
        gap: 1rem;
    }

    .servicos-prestados__container {
        max-width: 80%;
        margin: 4rem 0 2rem;
        grid-template-columns: repeat(2, 40%);
        align-items: flex-start;
        justify-content: center;
        gap: 2rem;
    }

    .servicos-prestados__container > .servico-card:last-child {
        grid-column: 1 / -1;   
        justify-self: center;  
        max-width: 50%;
    }

    .servico-card img {
        height: 10.625rem;
    }

    .beneficios-servicos__container {
        max-width: 80%;
        gap: 2rem;
    }

    .beneficios-servicos__container .titulo {
        max-width: 80%;
    }

    .beneficios-servicos-imagem {
        display: block;
        height: 180px;
        object-position: center -4rem;
    }

    .beneficios-servicos-icones {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
    }

    .cto-servicos__container {
        align-items: center;
        justify-content: center;
    }

    .cto-servicos__container .titulo-secundario {
        max-width: 75%;
    }

    .cto-servicos__container .descricao-secundario {
        max-width: 70%;
    }

    .cto-servicos-botoes {
        width: 50%;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .cto-servicos-botoes .botao {
        width: 50%;
    }
}

/* Tablet grande ou notebook pequeno: 979px até 1199px */
@media (min-width: 979px){
    .apresentacao-servicos {
        margin: 6.5rem;
    }

    .apresentacao-servicos__container {
        max-width: 80%;
        margin-top: 2rem;
        padding: 3rem 0;
    }

    .sobre-servicos--imagem {
        max-width: 50%;
    }

    .sobre-servicos--conteudo {
        max-width: 60%;
    }

    .servicos-prestados__container {
        margin: 6rem 0 2rem;
    }

    .servico-card img {
        height: 12.5rem;
    }

    .beneficios-servicos-imagem {
        height: 15rem;
        object-position: center -6rem;
    }
}

/* Desktop: 1200px ou mais */
@media (min-width: 1200px){
    .apresentacao-servicos {
      margin: 10rem;  
    }

    .apresentacao-servicos__container{
        max-width: 80%;
        margin-top: 5rem 0;
        padding: 5rem 0;
    }

    .sobre-servicos__container {
        max-width: 75%;
    }

    .servico-card img {
        height: 19.375rem;
    }

    .beneficios-servicos__container {
        width: 80%;
        padding: 1rem;
        gap: 4rem;
    }

    .beneficios-servicos-imagem {
        height: 18.75rem;
        object-position: center -10rem;
    }

    .cto-servicos__container {
        margin: 2rem 0;
    }

    .cto-servicos__container .descricao-secundario {
        max-width: 55%;
    }
}

/*Ultrawide: 1921px*/
@media (min-width: 1921px){
    .apresentacao-servicos__container {
        max-width: 80%;
        margin: 2rem 0;
        padding: 5rem 0;
    }

    .apresentacao-servicos__container .titulo {
        max-width: 55%;
    }

    .sobre-servicos__container {
        max-width: 60%;
    }

    .servico-card img {
        height: 28.75rem;
    }

    .beneficios-servicos__container {
        gap: 5rem;
    }

    .beneficios-servicos__container .titulo {
        max-width: 40%;
    }

    .beneficios-servicos-imagem {
        width: 95%;
        height: 30rem;
        object-position: center -20rem;
    }

    .beneficios-servicos-icones {
        width: 80%;
        flex-direction: row;
        align-items: flex-start;
    }

    .cto-servicos__container {
        gap: 2rem;
    }

    .cto-servicos__container .descricao-secundario {
        max-width: 45%;
    }
}

@media (max-height: 500px) and (orientation: landscape) { 
    .apresentacao-servicos__container {
        max-width: 80%;
    }

    .sobre-servicos__container {
        max-width: 80%;
    }

    .servicos-prestados__container {
        max-width: 80%;
        margin: 4rem 0 2rem;
        grid-template-columns: repeat(2, 40%);
        align-items: flex-start;
        justify-content: center;
        gap: 2rem;
    }

    .servicos-prestados__container > .servico-card:last-child {
        grid-column: 1 / -1;   
        justify-self: center;  
        max-width: 50%;
    }

    .beneficios-servicos__container {
        max-width: 80%;
        gap: 2rem;
    }

    .beneficios-servicos-imagem {
        display: block;
        height: 180px;
        object-position: center -4rem;
    }

    .beneficios-servicos-icones {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
    }


}