.beneficio-servico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.beneficio-servico img {
    object-fit: cover;
}

@media (max-width: 480px) {
    .beneficio-servico {
        max-width: 100%;
        padding: 1rem;
    }

   .beneficio-servico img {
        max-width: 40%;
   }
}

@media (max-width: 768px) {
    .beneficio-servico {
        max-width: 70%;
        padding: 1rem;
    }

    .beneficio-servico img {
        max-width: 40%;
    }
}

@media (min-width: 769px) {
    .beneficio-servico {
        max-width: 60%;
        padding: 1rem;
    }

    .beneficio-servico img {
        width: 50px;
    }
}

@media (min-width: 1200px) {
    .beneficio-servico {
        width: 50%;
        padding: 0.625rem;
    }

}