.botao {
    background-color: var(--cor-botao);
    color: var(--cor-texto-secundario);
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: bold;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botão:hover {
    background-color: red;
    transition: .2s all;
}