.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0.8rem;
    background-color: var(--cor-fundo);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.cabecalho__container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    position: absolute;
    left: 43%;
    max-width: 65px;
    display: block;
}

.logo img {
    width: 100%;
}

.menu-desktop {
    display: none;
}

.btn-abrir-menu {
    max-width: 40px;
    cursor: pointer;
}

.btn-abrir-menu img {
    width: 100%;
}

/*Estilização do Menu Mobile*/
.menu-mobile {
    background-color: var(--cor-primaria);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 00%;
    overflow: hidden;
    transition: .5s;
}

/*Animação para abrir o menu*/
.menu-mobile.abrir-menu {
    width: 40%;
}

.menu-mobile .btn-fechar-menu {
    padding: 10px 2%;
    cursor: pointer;
    text-align: right;
}

.btn-fechar-menu img {
    width: 40px;
}

.menu-mobile nav ul {
    text-align: left;
}

.menu-mobile nav ul li a {
    color: var(--cor-texto-secundario);
    font-weight: 500;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: var(--cor-secundaria);
    transition: .4s all;
}

/*Menu adaptado para notebook e telas grandes*/
@media (min-width: 992px) /*and (max-width: 1920px)*/ {
    .cabecalho {
        padding: 5px 0.8rem;
    }

    .cabecalho__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 80%;
    }

    .logo {
        position: static;
        max-width: 95px;
    }

    .btn-abrir-menu {
        display: none;
    }
    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: flex;
    }

    .menu-desktop ul {
        display: flex;
        gap: 4rem;
    }

    .menu-desktop ul li a {
        color: var(--cor-texto-primario);
        font-weight: 700;
        padding: 1rem;
        font-size: clamp(1rem, 0.9vw, 1.5rem);
    }

}