.cabecalho {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--cor-fundo);
    padding: 5px 0.8rem;
}

.logo {
    position: absolute;
    left: 45%;
    max-width: 65px;
    display: block;
}

.logo img {
    width: 100%;
}

.menu-desktop {
    display: none;
}

.btn-abrir-menu {
    max-width: 40px;
    cursor: pointer;
}

.btn-abrir-menu img {
    width: 100%;
}

/*Estilização do Menu Mobile*/
.menu-mobile {
    background-color: var(--cor-primaria);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 00%;
    overflow: hidden;
    transition: .5s;
}

/*Animação para abrir o menu*/
.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile .btn-fechar-menu {
    padding: 10px 2%;
    cursor: pointer;
    text-align: right;
}

.btn-fechar-menu img {
    width: 40px;
}

.menu-mobile nav ul {
    text-align: left;
}

.menu-mobile nav ul li a {
    color: var(--cor-texto-secundario);
    font-weight: 500;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: var(--cor-secundaria);
    transition: .4s all;
}